---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<button class="btn">Default</button>
	<!-- Open the modal using ID.showModal() method -->
<button class="btn" onclick="my_modal_1.showModal()">open modal</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<div class="collapse bg-base-100 border border-base-300">
	<input type="checkbox" name="my-accordion-1" checked="checked" />
	<div class="collapse-title font-semibold">How do I create an account?</div>
	<div class="collapse-content text-sm">Click the "Sign Up" button in the top right corner and follow the registration process.</div>
  </div>
  <div class="collapse bg-base-100 border border-base-300">
	<input type="checkbox" name="my-accordion-1" />
	<div class="collapse-title font-semibold">I forgot my password. What should I do?</div>
	<div class="collapse-content text-sm">Click on "Forgot Password" on the login page and follow the instructions sent to your email.</div>
  </div>
  <div class="collapse bg-base-100 border border-base-300">
	<input type="checkbox" name="my-accordion-1" />
	<div class="collapse-title font-semibold">How do I update my profile information?</div>
	<div class="collapse-content text-sm">Go to "My Account" settings and select "Edit Profile" to make changes.</div>
  </div>
  <figure class="diff aspect-16/9" tabindex="0">
	<div class="diff-item-1" role="img">
	  <div class="bg-primary text-primary-content grid place-content-center text-9xl font-black">
		DAISY
	  </div>
	</div>
	<div class="diff-item-2" role="img" tabindex="0">
	  <div class="bg-base-200 grid place-content-center text-9xl font-black">DAISY</div>
	</div>
	<div class="diff-resizer"></div>
  </figure>
</Layout>
